.export__item {
    list-style: none;
}

.export__line {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
    align-items: center;
}

.export__title {
    flex: 2;
}

.export__progress_bar {
    flex: 1;
    border: 1px solid blue;
    height: 20px;
    width: 100%;
}

.export__progress_bar span {
    display: block;
    background-color: blue;
    height: 20px;
}

.export__progress_text {
    flex: 1;
}

.export__result {
    flex: 1;
}

.delete {
    background-color: red;
}

@media (max-width: 768px) {
    .export__line {
        flex-direction: column;
        border-bottom: 1px solid darkgrey;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }
    .export__title {
        flex: none;
        width: 100%;
    }
}